@import "./variables.scss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter;
  background-color: $background-body;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

[class*="__container"] {
  max-width: toRem(1470);
  padding: toRem(0) toRem(15);
  margin: 0 auto;
}
