@use "sass:math";

$background-body: rgb(225, 212, 201);
$background-container: rgb(102, 95, 85);
$background-backdrop: rgb(102, 95, 85);
$border-light: rgb(193, 182, 173);
$border-dark: rgb(102, 95, 85);
$text-dark: rgb(64, 63, 61);
$text-light: rgb(225, 212, 201);
$text-accent: rgb(176, 144, 122);

/* ToRem */
@function toRem($px, $current: 16) {
  $result: math.div($px, $current) + rem;
  @return $result;
}
