@import "../../scss/variables.scss";

.tests {
  &__container {
  }
  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: toRem(30);
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: toRem(20);
    width: toRem(250);
    min-height: toRem(300);
    border-radius: toRem(10);
    padding: toRem(20);
    color: $text-light;
    border: toRem(1) solid $text-light;
    cursor: pointer;
    transition: all linear 0.3s;
    transform: scale(1);
    &:hover {
      transform: scale(1.02);
      transition: all linear 0.3s;
      box-shadow: toRem(1) toRem(2) toRem(10) $text-dark;
    }
    &:hover .item__icon {
      opacity: 1;
      visibility: visible;
      transition: all linear 0.3s;
      margin-left: toRem(0);
    }
    .item__info {
      position: relative;
      z-index: 2;
      letter-spacing: toRem(5);
    }
    .item__title {
      position: relative;
      font-size: toRem(22);
      font-weight: 600;
      z-index: 2;
    }
    .item__icon {
      position: relative;
      color: white;
      font-size: toRem(40);
      opacity: 0;
      visibility: hidden;
      margin-left: toRem(-10);
      transition: all linear 0.3s;
      z-index: 2;
    }
    .item__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: toRem(10);
      object-fit: cover;
    }
  }
}
